body {background-color: black;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;
    font-size: 90px;
}
a {
    font-size: 45px;
    color: rgb(127, 255, 115);
    text-align: center;
}
p {
    color: rgb(255, 255, 255);
    font-size: 50;
}

ul {
    color:white;
}
li {
   font-size: 25;
}
::selection {
    background-color: rgb(127, 255, 115);
    color: black;
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;
    font-size: 65px;
}
h2::selection {
    background-color: rgb(223, 0, 0);
    color: black;
}